body {
  margin: 0;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100%;
  margin-left: 50px;
}

.ReadFiy {
  color: #cc9600;
  margin: 30px 20px 0px 20px;
  font-size: 25px;
}

.NavBar {
  display: flex;
  background-image: url(imgS/backIMG.png);
}

.ul {
  display: flex;
  margin-left: 300px;
}

.list {
  margin: 35px 20px 0px 40px;
  list-style: none;
}

.Anchor {
  text-decoration: none;
  color: white;
}

.icon {
  margin: 8px 20px 0px 50px;
}

.imgPerson {
  margin: 30px 20px 0px 55px;
}

.user {
  color: white;
  font-size: 8px;
  margin: 0px 20px 0px 40px;
}

.hero-text {
  text-align: center;
  margin-top: 20px;
}

.BG-img {
  background-image: url(imgS/homebody.jpeg);
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}


.hero {
  background: url("imgS/homebody.jpeg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.content {
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
}

.Dreamland {
  color: #CC9600;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.Welcome {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-bar input {
  padding: 10px 20px;
  font-size: 1rem;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: 1px solid #d4af37; /* لون ذهبي */
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
}

.search-bar button {
  padding: 10px 25px;
  background-color: rgba(212, 175, 55, 0.9);
  color: #000;
  border: 1px solid #d4af37;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(212, 175, 55, 0.4);
  margin-left: -10px;
}

.search-bar button:hover {
  background-color: #e6c657;
}

.best-picks {
  text-align: center;
  padding: 50px 20px;
}

.Best{
  margin-bottom:20px ;
}

.books {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.book {
  width: 150px;
}

.book img {
  width: 100%;
  height: auto;
}

.img{
  margin: 0px 141px 0px 100px;
}

.footer {
  background: #000;
  color: #fff;
  padding: 50px 20px;
  text-align: center;
  display: flex;

}

.footer-text h2 {
  color: gold;
}

.footer-text{
  margin-top: 60px;
}

.footer .stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 0;
}

.footer button {
  padding: 10px 20px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.Neth {
  margin-left: 80px;
}

.hr {
  border: 1px solid white;
  margin: 0px 100px 0px 100px;
}

.add {
  color: white;
  margin-top: 35px;
  font-size: 10px;
  padding-left: 100px;
}

.Visit {
  color: #cc9600;
  margin-top: 32px;
  font-size: 12px;
  text-align: center;
  margin-left: 77px;
}

.Facebook {
  margin: 20px 0px 0px 140px;
}

.Linkedin {
  margin: 20px 0px 0px 0px;
}

.cnot {
  background-color: black;
}
