body {
  margin: 0;
  padding: 0;
}

header {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100%;
  margin-left: 50px;
}

.ReadFiy {
  color: #cc9600;
  margin: 30px 20px 0px 20px;
  font-size: 25px;
}

.NavBar {
  display: flex;
  background-image: url(imgS/backIMG.png);
}

.ul {
  display: flex;
  margin-left: 300px;
}

.list {
  margin: 35px 20px 0px 40px;
  list-style: none;
}

.Anchor {
  text-decoration: none;
  color: white;
}

.icon {
  margin: 8px 20px 0px 50px;
}

.imgPerson {
  margin: 30px 20px 0px 55px;
}

.user {
  color: white;
  font-size: 8px;
  margin: 0px 20px 0px 40px;
}

.filters {
  margin: 20px 0;
}

.title {
  text-align: center;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}

.h2 {
  color: #cc9600;
}

.cart-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #facc15;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.cart-icon::after {
  content: attr(data-count);
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Neth {
  margin-left: 80px;
}

.hr {
  border: 1px solid white;
  margin: 0px 100px 0px 100px;
}

.add {
  color: white;
  margin-top: 35px;
  font-size: 10px;
  padding-left: 100px;
}

.Visit {
  color: #cc9600;
  margin-top: 32px;
  font-size: 12px;
  text-align: center;
  margin-left: 77px;
}

.Facebook {
  margin: 20px 0px 0px 140px;
}

.Linkedin {
  margin: 20px 0px 0px 0px;
}

.cnot {
  background-color: black;
}
